/* ======== UNIVERSAL FORMAT ========= */
:root{
    --ion-background-color: white;
	--ion-text-color: #000000;
	--ion-text-color-rgb: 0,0,0;
}


.body{
    width: 90%;
    margin: auto;
}


ion-icon{
    --color:rgb(0, 0, 0);
}
/* ======== END UNIVERSAL FORMAT ======== */

/* ======== STYLE OF HEAD SECTION ========= */

.SectionHead{
    margin-top: 10px;
}
/* ======== END STYLE OF HEAD SECTION ========= */

/* ====== IMAGES OF WIDTH FULL ========= */

.imgF{
    margin: auto;
}

/* ====== END IMAGES OF WIDTH FULL ========= */

/* ====== ION BUTTONS ========= */

ion-button{
    --color: rgb(0, 0, 0);
    --color-hover: white;
    --color-ativated: white;
    --border-color:black;
    --background-hover:rgb(0, 0, 0) ;
    --background-hover-opacity: 100%;
    --background-activated:rgb(128, 128, 128) ;
    --background-activated-opacity: 100%;
}
/* ====== END ION BUTTONS ========= */

/* ====== STYLE OF TOP SEASSON ========= */

.TopTemp{
    text-align: center;
}

/* ====== STYLE OF TOP SEASSON ========= */
