/* ========== Style Ion-Header ======== */

.head{
    text-align: center;
}



ion-toolbar{
    --color: #ffffff;
    --background: rgb(255, 255, 255);
    --border: none;
    text-align: center;
}   

.logo{
    height: 4rem;
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 3rem;
}

.BButton{
    --background-color: none;
    --background: none;
}

ion-back-button{
    margin-top: 30px;
    --color-hover:gray;
    --color:black;
    --background-hover-opacity: 0%;
}

.icon{
    float: right;
    margin-top: 2rem;
}
/* ========== End Style Ion-Header ======== */