/* ========== Style Ion-Header ======== */

.head{
    text-align: center;
}

ion-toolbar{
    --color: #ffffff;
    --background: rgb(255, 255, 255);
    --border: none;
    margin-bottom: 10px;
}   

.logo{
    height: 4rem;
    display: inline-flex;
    margin-top: 10px;
}

.bag{
    --color: rgb(0, 0, 0);
    position:fixed;
    margin-left: auto;
    right: 0;
    margin-right: 15px;
}

.BButton{
    --background-color: none;
    --background: none;
}

ion-back-button{
    margin-top: 30px;
    --color-hover:gray;
    --color:black;
    --background-hover-opacity: 0%;
}
/* ========== End Style Ion-Header ======== */